bin/
obj/
.vs/
.vscode/
*.user
*.suo
.git/
Dockerfile
.dockerignore
**/.env
**/node_modules
.gitignore
README.md
**/.nuget
**/packages
**/.packages
**/.docker
TestResults/
coverage/
*.log
.DS_Store
Thumbs.db